#Media directory
transfers/*
dropbox/*


#yarn files
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you wish to use zero-installs
# In that case, don't forget to run `yarn config set enableGlobalCache false`!
# Documentation here: https://yarnpkg.com/features/caching#zero-installs

#!.yarn/cache
.pnp.*


# dotenv environment variable files
.env*

# VIM files
*.swp

# Optional REPL history
.node_repl_history

# Optional eslint cache
.eslintcache
