<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Simple Transfer | 404 Transfer non trouvé</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="/statics/styles.css">
  </head>
  <body>
    <article>
      <div class="content">
        <h5>Transfer introuvable</h5>
        <p class="errorMessage">Désolé, il semble que le transfer demandé ne puisse être retrouvé…</p>
      </div>
    </article>
  </body>
</html>
