<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Simple Transfer | {{ status_code }} {{ title }}</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="/statics/styles.css">
  </head>
  <body>
    <article>
      <div class="content">
        <h5>{{ title }}</h5>
        <p class="errorMessage">{{ message }}</p>
      </div>
    </article>
  </body>
</html>
